body {
	background-color: #adbcc9;
	font-family: "Lucida Console", "American Typewriter", monospace;
}

#content-holder {
	background-color: #add8ff;
	margin: 0 16%;
	width: 64%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
